# Exercises I

Let's review the steps we take at the beginning of each new module.

## 1. Create a new repository named regression-exercises in your GitHub; all of your Regression work will be housed here.

In [1]:
# Done

## 2. Clone this repository within your local codeup-data-science directory.

In [2]:
# Done

## 3. Create a .gitignore and make sure your list of 'files to ignore' includes your env.py file.

In [3]:
# Done

## 4. Ceate a README.md file that outlines the contents and purpose of your repository.

In [4]:
# Done

## 5. Add, commit, and push these two files.

In [5]:
# Done

## 6. Now you can add your env.py file to this repository to access the Codeup database server.

In [6]:
# Done

## 7. For these exercises, you will create wrangle.ipynb and wrangle.py files to hold necessary functions.

In [7]:
# Done

## 8. As always, add, commit, and push your work often.

In [8]:
# Done

# Exercises II

Let's set up an example scenario as perspective for our regression exercises using the Zillow dataset.

As a Codeup data science graduate, you want to show off your skills to the Zillow data science team in hopes of getting an interview for a position you saw pop up on LinkedIn. You thought it might look impressive to build an end-to-end project in which you use some of their Kaggle data to predict property values using some of their available features; who knows, you might even do some feature engineering to blow them away. Your goal is to predict the values of single unit properties using the obervations from 2017.

In these exercises, you will complete the first step toward the above goal: acquire and prepare the necessary Zillow data from the zillow database in the Codeup database server.

## 1. Acquire bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, and fips from the zillow database for all 'Single Family Residential' properties.

In [44]:
import numpy as np
import pandas as pd
import os

import matplotlib.pyplot as plt
import seaborn as sns

from wrangle import zillow_data

from env import get_connection

In [10]:
#query = '''SELECT bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, fips 
#           FROM properties_2017 WHERE propertylandusetypeid = 261'''
#url = get_connection('zillow')
#df = pd.read_sql(query,url)
#df.head(3)

In [45]:
zil = zillow_data()

## 2. Using your acquired Zillow data, walk through the summarization and cleaning steps in your wrangle.ipynb file like we did above. You may handle the missing values however you feel is appropriate and meaningful; remember to document your process and decisions using markdown and code commenting where helpful.

In [12]:
# First I will check for nulls

In [13]:
zil.isna().sum()

bedroomcnt                        11
bathroomcnt                       11
calculatedfinishedsquarefeet    8484
taxvaluedollarcnt                493
yearbuilt                       9337
taxamount                       4442
fips                               0
dtype: int64

In [14]:
len(zil)

2152863

Since there are only 11 nulls in bedroon and bathroom count I will drop those rows.

In [15]:
zil = zil[zil.bedroomcnt.isna() != True]
zil.isna().sum()

bedroomcnt                         0
bathroomcnt                        0
calculatedfinishedsquarefeet    8477
taxvaluedollarcnt                493
yearbuilt                       9333
taxamount                       4433
fips                               0
dtype: int64

In [16]:
zil.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,0.0,0.0,NaN,27516.0,NaN,NaN,6037.0
1,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
2,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
3,0.0,0.0,NaN,2108.0,NaN,174.21,6037.0
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0

I will also drop the null values in taxvaluedollarcnt since there are 2,150,000 values, 500 values should not have any significant impact.

In [17]:
zil = zil[zil.taxvaluedollarcnt.isna() != True]
zil.isna().sum()

bedroomcnt                         0
bathroomcnt                        0
calculatedfinishedsquarefeet    8099
taxvaluedollarcnt                  0
yearbuilt                       8958
taxamount                       3971
fips                               0
dtype: int64

In [18]:
zil.describe().astype('int')

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
count,2152359,2152359,2144260,2152359,2143401,2148388,2152359
mean,3,2,1862,461896,1960,5634,6048
std,0,0,1222,699677,22,8178,20
min,0,0,1,1,1801,1,6037
25%,3,2,1257,188171,1949,2535,6037
50%,3,2,1623,327671,1958,4108,6037
75%,4,3,2208,534527,1976,6414,6059
max,25,32,952576,98428909,2016,1337755,6111

There seems to be significant overlap in in information amongst null values. Most houses with null values in year built also have no square feet
and they have 0 bed and bath so theyre maybe not even built. There is too much data to simply impute. I will drop this info

In [19]:
zil[zil.calculatedfinishedsquarefeet.isna() == True]

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,0.0,0.0,NaN,27516.0,NaN,NaN,6037.0
1,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
2,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
3,0.0,0.0,NaN,2108.0,NaN,174.21,6037.0
5,0.0,0.0,NaN,124.0,NaN,NaN,6037.0
...,...,...,...,...,...,...,...
2152823,0.0,0.0,NaN,2568893.0,NaN,27309.30,6059.0
2152844,0.0,0.0,NaN,92679.0,NaN,1090.16,6111.0
2152854,0.0,0.0,NaN,1198476.0,NaN,NaN,6037.0
2152857,0.0,0.0,NaN,1087111.0,NaN,19313.08,6059.0
2152860,0.0,0.0,NaN,208057.0,NaN,5783.88,6059.0

In [20]:
zil = zil[zil.calculatedfinishedsquarefeet.isna() != True]

In [21]:
zil.isna().sum()

bedroomcnt                         0
bathroomcnt                        0
calculatedfinishedsquarefeet       0
taxvaluedollarcnt                  0
yearbuilt                       1457
taxamount                       2586
fips                               0
dtype: int64

In [25]:
zil.fips = zil.fips.astype(int)

In [29]:
zil = zil[zil.yearbuilt.isna() != True]

In [32]:
len(zil)

2142803

In [31]:
zil.isna().sum()

bedroomcnt                         0
bathroomcnt                        0
calculatedfinishedsquarefeet       0
taxvaluedollarcnt                  0
yearbuilt                          0
taxamount                       2568
fips                               0
dtype: int64

In [34]:
zil = zil[zil.taxamount.isna() != True]

In [35]:
zil.isna().sum()

bedroomcnt                      0
bathroomcnt                     0
calculatedfinishedsquarefeet    0
taxvaluedollarcnt               0
yearbuilt                       0
taxamount                       0
fips                            0
dtype: int64

In [52]:
zil.bathrooms.value_counts()

2.00     943589
3.00     422841
1.00     414324
2.50     142981
4.00      82155
1.50      31211
3.50      28518
5.00      28362
4.50      19506
0.00      13027
6.00      10747
5.50       6217
7.00       4394
8.00       1692
6.50       1333
9.00        713
7.50        384
10.00       325
11.00       146
8.50        110
12.00        73
9.50         50
13.00        39
14.00        25
15.00        17
0.50         16
10.50        14
16.00        12
18.00         8
20.00         6
17.00         4
1.75          3
12.50         3
11.50         3
19.50         1
14.50         1
32.00         1
19.00         1
Name: bathrooms, dtype: int64

In [61]:
zil.fips.value_counts()

6037.0    1431811
6059.0     555077
6111.0     165975
Name: fips, dtype: int64

In [53]:
zil.bedrooms.value_counts()

3.0     964298
4.0     634289
2.0     335473
5.0     150866
6.0      25166
1.0      23166
0.0      13187
7.0       4807
8.0       1107
9.0        291
10.0       121
11.0        34
13.0        16
12.0        12
14.0         7
15.0         6
18.0         3
16.0         2
25.0         1
Name: bedrooms, dtype: int64

In [74]:
fips_codes = {'6037' : 'Los Angeles County',
              '6059' : 'Orange County',
              '6111' : 'Ventura County'}
zil.fips.astype(str)

In [83]:
[fips_codes.get(fip) for fip in zil.fips.astype(str)][:5]

[None, None, None, None, None]

In [36]:
zil.columns

Index(['bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet',
       'taxvaluedollarcnt', 'yearbuilt', 'taxamount', 'fips'],
      dtype='object')

In [42]:
rename = {'bedroomcnt':'bedrooms', 
          'bathroomcnt':'bathrooms', 
          'calculatedfinishedsquarefeet':'sq_ft',
          'taxvaluedollarcnt':'price', 
          'yearbuilt':'year_built', 
          'taxamount':'tax_amount'}

In [50]:
zil = zil.rename(columns=rename)

## 3. Store all of the necessary functions to automate your process from acquiring the data to returning a cleaned dataframe with no missing values in your wrangle.py file. Name your final function wrangle_zillow.

In [55]:
def wrangle_zillow():
    zil = zillow_data()
    zil = zil[zil.bedroomcnt.isna() != True]
    zil = zil[zil.taxvaluedollarcnt.isna() != True]
    zil = zil[zil.calculatedfinishedsquarefeet.isna() != True]
    zil = zil[zil.yearbuilt.isna() != True]
    zil = zil[zil.taxamount.isna() != True]
    rename = {'bedroomcnt':'bedrooms',  
              'bathroomcnt':'bathrooms', 
              'calculatedfinishedsquarefeet':'sq_ft',
              'taxvaluedollarcnt':'price', 
              'yearbuilt':'year_built', 
              'taxamount':'tax_amount'}
    zil = zil.rename(columns=rename)
    zil.fips = zil.fips.astype(int)  # Convert fips to integer since it is not a decimal
    zil.bedrooms = zil.bedrooms.astype(int)  # Converts bedroom to integer since it is not a decimal
    return zil

In [86]:
zil = wrangle_zillow()

In [87]:
fips_codes = {'6037' : 'Los Angeles County',
              '6059' : 'Orange County',
              '6111' : 'Ventura County'}
zil.fips = [fips_codes.get(fip) for fip in zil.fips.astype(str)]

In [88]:
zil.fips.value_counts()

Los Angeles County    1425207
Orange County          552057
Ventura County         162971
Name: fips, dtype: int64