# Exercises I

Let's review the steps we take at the beginning of each new module.

## 1. Create a new repository named regression-exercises in your GitHub; all of your Regression work will be housed here.

In [1]:
# Done

## 2. Clone this repository within your local codeup-data-science directory.

In [2]:
# Done

## 3. Create a .gitignore and make sure your list of 'files to ignore' includes your env.py file.

In [3]:
# Done

## 4. Ceate a README.md file that outlines the contents and purpose of your repository.

In [4]:
# Done

## 5. Add, commit, and push these two files.

In [5]:
# Done

## 6. Now you can add your env.py file to this repository to access the Codeup database server.

In [6]:
# Done

## 7. For these exercises, you will create wrangle.ipynb and wrangle.py files to hold necessary functions.

In [7]:
# Done

## 8. As always, add, commit, and push your work often.

In [8]:
# Done

# Exercises II

Let's set up an example scenario as perspective for our regression exercises using the Zillow dataset.

As a Codeup data science graduate, you want to show off your skills to the Zillow data science team in hopes of getting an interview for a position you saw pop up on LinkedIn. You thought it might look impressive to build an end-to-end project in which you use some of their Kaggle data to predict property values using some of their available features; who knows, you might even do some feature engineering to blow them away. Your goal is to predict the values of single unit properties using the obervations from 2017.

In these exercises, you will complete the first step toward the above goal: acquire and prepare the necessary Zillow data from the zillow database in the Codeup database server.

## 1. Acquire bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, and fips from the zillow database for all 'Single Family Residential' properties.

In [10]:
import numpy as np
import pandas as pd
import os

import matplotlib.pyplot as plt
import seaborn as sns

import wrangle as wg

from env import get_connection

In [11]:
query = '''SELECT bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, fips 
           FROM properties_2017 WHERE propertylandusetypeid = 261'''
url = get_connection('zillow')
df = pd.read_sql(query,url)
df.head(3)

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,0.0,0.0,NaN,27516.0,NaN,NaN,6037.0
1,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
2,0.0,0.0,NaN,10.0,NaN,NaN,6037.0

In [14]:
zil = wg.zillow_data()

## 2. Using your acquired Zillow data, walk through the summarization and cleaning steps in your wrangle.ipynb file like we did above. You may handle the missing values however you feel is appropriate and meaningful; remember to document your process and decisions using markdown and code commenting where helpful.

In [ ]:
# First I will check for nulls

In [16]:
zil.isna().sum()

bedroomcnt                        11
bathroomcnt                       11
calculatedfinishedsquarefeet    8484
taxvaluedollarcnt                493
yearbuilt                       9337
taxamount                       4442
fips                               0
dtype: int64

In [17]:
len(zil)

2152863

Since there are only 11 nulls in bedroon and bathroom count I will drop those rows.

In [22]:
zil = zil[zil.bedroomcnt.isna() != True]
zil.isna().sum()

bedroomcnt                         0
bathroomcnt                        0
calculatedfinishedsquarefeet    8477
taxvaluedollarcnt                493
yearbuilt                       9333
taxamount                       4433
fips                               0
dtype: int64

In [24]:
zil.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,0.0,0.0,NaN,27516.0,NaN,NaN,6037.0
1,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
2,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
3,0.0,0.0,NaN,2108.0,NaN,174.21,6037.0
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0

I will also drop the null values in taxvaluedollarcnt since there are 250,000 values, 500 values should not have any significant impact.

In [27]:
zil = zil[zil.taxvaluedollarcnt.isna() != True]
zil.isna().sum()

bedroomcnt                         0
bathroomcnt                        0
calculatedfinishedsquarefeet    8099
taxvaluedollarcnt                  0
yearbuilt                       8958
taxamount                       3971
fips                               0
dtype: int64

## 3. Store all of the necessary functions to automate your process from acquiring the data to returning a cleaned dataframe with no missing values in your wrangle.py file. Name your final function wrangle_zillow.